{{< layout}}
  {{$content}}
    {{#videos}}
    <div class='big-video'>
      <video id="{{day}}-video" preload="metadata" controls>
        <source src="{{videoUrl}}" />
        <p>To view this video please enable JavaScript, and consider upgrading to a web browser that doesn't suck.</p>
      </video>
      <div class="description">Day {{day}}<br />{{song}} by {{artist}}</div>
    </div>
      {{/videos}}
{{/content}}
{{/layout}}
