{{< layout}}
{{$content}}
      <div id="video-list">
        {{#videos}}
        <div class='grid-3'>
          <div class="video-row">
            <a href="/day/{{id}}"><img src="{{imageUrl}}" alt="First frame of day {{day}} playing {{song}} by {{artist}}"></a><br />
            <div class="description">Day {{day}}<br />{{song}} by {{artist}}</div>
          </div>
        </div>
        {{/videos}}
      </div>
{{/content}}
{{/layout}}
