{{< layout}}
{{$content}}
  <div id="content">
        {{#videos}}
        <div class="box">
          <a href="/day/{{_id}}"><img src="{{imageUrl}}" alt="First frame of day {{day}} playing {{song}} by {{artist}}" style="width: 250px"></a><br />
          <div class="description">Day {{day}}<br>{{song}} by {{artist}}</div>
        </div>
        {{/videos}}
  </div>
{{/content}}
{{/layout}}


