{{< layout}}
{{$content}}
  <div id="content">
        {{#videos}}
        <div class="box">
          <a href="/song/{{song}}"><img src="{{imageUrl}}" alt="First frame of day {{day}} playing {{song}} by {{artist}}"></a><br />
          <div class="description">{{song}} by {{artist}}</div>
        </div>
        {{/videos}}
  </div>
{{/content}}
{{/layout}}


